<header class="main-nav">



	</ul>
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
				<!-- <button type="button" name="log-in">log in</button> -->
				<!--  shouldn't the above be a button, not a "span?"-->
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
	<ul>
		<li>
			<button type="button" name="subscribe-now">subscribe now</button>
		</li>
		<span>   </span>
		<li>
			<button type="button" name="log-in">log in</button>
		</li>
		<span>    </span>
		  <!--  Q: what do I add to the spans to give space around the buttons?-->
			<!--  A: "padding" in the right nav of -main_nav  -->
		<li>
			<i class="fa fa-cog" aria-hidden="true"></i>
			<!-- the above is the gear button -->
		</li>

	</nav>





</header>
